:root {
	--color-title: #495057;
	--color-accent: #fc4f19;
	--color-accent-gradient: linear-gradient(
		90deg,
		rgba(252, 79, 25, 1) 0%,
		rgba(254, 200, 81, 1) 100%
	);
	--color-bg: #ffffff;
	--color-copy: #868e96;
	--color-white: #ffffff;

	--color-header-bg: rgba(255, 255, 255, 0.6);

	--color-card-bg: #f1f3f5;
	--color-card-bg-hover: #212529;

	--color-footer-bg: #fef2d5;
	--color-footer-title: #212529;
	--color-footer-icon: #ffdf97;

	--color-menu-bg: #c9c9c9;
}

[data-theme='dark'] {
	--color-title: #ffffff;
	--color-accent: #fc4f19;
	--color-accent-gradient: linear-gradient(
		90deg,
		rgba(252, 79, 25, 1) 0%,
		rgba(254, 200, 81, 1) 100%
	);
	--color-bg: #212529;
	--color-copy: #ced4da;
	--color-white: #ffffff;

	--color-header-bg: rgba(33, 37, 41, 0.66);

	--color-card-bg: #343a40;
	--color-card-bg-hover: #212529;

	--color-footer-bg: #343a40;
	--color-footer-title: #ffffff;
	--color-footer-icon: #212529;
}
