@import 'variables';
@import 'mixins';

html {
	font-family: 'Archivo', sans-serif;
	font-size: 16px;
	scroll-behavior: smooth;
}

body {
	margin: 0;
	background: var(--color-bg);
}

main {
	overflow: hidden;
}

h1,
h2,
h3,
h4,
h5,
p,
strong,
b,
i {
	margin: 0;
	padding: 0;

	.gradient {
		background: var(--color-accent-gradient);
		background-clip: text;
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
	}
}

ul {
	padding: 0;
	list-style-type: none;

	li {
		list-style: none;
	}
}

section:not(.hero) {
	padding: 80px 0;

	@include tablet {
		padding: 70px 0;
	}

	@include desktop {
		padding: 120px 0;
	}

	.sectionTitle {
		margin-bottom: 40px;

		@include tablet {
			margin-bottom: 48px;
		}

		@include desktop {
			margin-bottom: 72px;
		}

		h2 {
			color: var(--color-title);
			font-size: 2rem;
			margin-bottom: 16px;

			@media (min-width: 1200px) {
				font-size: 3rem;
			}
		}

		p {
			color: var(--color-copy);
			font-size: 1.25rem;
		}
	}
}

section:not(.sectionInstagram),
header {
	max-width: 1480px;
	margin-right: auto;
	margin-left: auto;
}

.changeThemeBtn {
	width: fit-content;
	all: unset;
	cursor: pointer;
	color: var(--color-btn-theme);
}
