@import 'variables';
@import 'mixins';

html {
	font-family: 'Archivo', sans-serif;
	font-size: 16px;
}

body {
	max-width: 1480px;
	margin: auto;
}

h1,
h2,
h3,
h4,
h5,
p,
strong,
b,
i {
	margin: 0;
	padding: 0;

	.gradient {
		background: var(--color-accent-gradient);
		background-clip: text;
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
	}
}

section:not(.hero) {
	padding: 80px 0;

	@media (min-width: 1200px) {
		padding: 120px 0;
	}

	.sectionTitle {
		margin-bottom: 56px;

		@media (min-width: 1200px) {
			margin-bottom: 72px;
		}

		h2 {
			color: var(--color-title);
			font-size: 2rem;
			margin-bottom: 16px;

			@media (min-width: 1200px) {
				font-size: 3rem;
			}

			.highlight {
				color: var(--color-accent);
			}
		}

		p {
			color: var(--color-copy);
			font-size: 1.25rem;
		}
	}
}
