---
import FaqCarousel from '../../molecules/FaqCarousel.vue';

const title = {
	highlight: 'Perguntas Frequentes',
	text: 'Explore algumas das ',
};
const subtitle = 'Estou aqui para te dar respostas.';
const faq = [
	{
		title: 'Ipsum Lorem',
		items: [
			{
				summary: 'Ipsum Lorem',
				text: 'Tulio Alcantara Magalhaes',
			},
		],
	},
];
---

<section class="sectionFaq">
	<div class="sectionTitle sectionFaq-title">
		<h2>{title.text} <span class="gradient">{title.highlight}</span></h2>
		<p>{subtitle}</p>
	</div>

	<FaqCarousel faq={faq} client:load />
</section>

<style lang="scss">
	@import 'src/styles/_mixins.scss';

	.sectionFaq {
		padding-left: 32px;
		padding-right: 32px;

		.sectionFaq-title {
			@include tablet {
			}

			@include desktop {
				max-width: 550px;
				text-align: center;
				margin: auto;
			}
		}
	}
</style>
