---
import Card from '../../molecules/CardProcess.astro';

const cards = [
	{
		title: 'Avaliação',
		description:
			'Trabalharemos juntos para definir e avaliar seus problemas atuais e determinar os objetivos terapêuticos. Vou coletar informações sobre seus pensamentos, sentimentos e comportamento, bem como sua história de vida e outras questões relevantes. Isso irá nos ajudar a desenvolver um plano de tratamento personalizado para você.',
	},
	{
		title: 'Intervenção',
		description:
			'Isso pode incluir várias técnicas terapêuticas, como modificação de padrões de pensamento desadaptativos, modificação de comportamentos desadaptativos e prática de habilidades sociais e de enfrentamento. Vamos mudar seus padrões de pensamento e comportamento para superar o problema.',
	},
	{
		title: 'Manutenção',
		description:
			'Trabalharemos juntos O foco é manter as mudanças positivas alcançadas na segunda etapa. Eu vou trabalhar com você para desenvolver estratégias para lidar com possíveis recaídas, bem como para continuar a desenvolver e praticar habilidades aprendidas na terapia. O objetivo é te ajudar manter as mudanças positivas a longo prazo. definir e avaliar seus problemas atuais e determinar os objetivos terapêuticos. Vou coletar informações sobre seus pensamentos, sentimentos e comportamento, bem como sua história de vida e outras questões relevantes. Isso irá nos ajudar a desenvolver um plano de tratamento personalizado para você.',
	},
];
---

<section class="sectionProcess">
	<div class="sectionTitle sectionProcess-title">
		<h2>Um <span class="gradient">Processo diferente</span></h2>
		<p>Pra melhor te atender</p>
	</div>

	<ul class="sectionProcess-cards">
		{
			cards.map((card) => (
				<li>
					<Card title={card.title} description={card.description} />
				</li>
			))
		}
	</ul>

	<div class="sectionProcess__shadow"></div>
</section>

<style lang="scss">
	@import 'src/styles/_mixins.scss';

	.sectionProcess {
		position: relative;
		padding-left: 32px;
		padding-right: 32px;
		overflow: hidden;

		@include tablet {
			padding-left: 70px;
			padding-right: 70px;
		}

		@include desktop {
			display: grid;
			grid-template-columns: 1fr 1fr;
			padding-left: 32px;
			padding-right: 32px;
			overflow: visible;
		}

		&-cards {
			display: flex;
			flex-direction: column;
			gap: 32px;
		}

		&__shadow {
			position: absolute;
			width: 400px;
			height: 400px;
			opacity: 0.5;
			right: 0;
			top: 50%;
			border-radius: 50%;
			filter: blur(100px);
			background-color: rgba(255, 223, 151, 1);
			z-index: -1;

			@include desktop {
				right: -100px;
				top: 0;
			}
		}
	}
</style>
