---
import CarouselValues from '../../molecules/CarouselValues.vue';

const title = {
	text: 'Meus ',
	highlight: 'valores',
};
const subtitle = 'E como eles te afetam.';

const values = [
	{
		cta: 'Tratamento',
		title: 'Tratamento baseado na ciência',
		subtitle: 'Subtitle 1',
		description:
			'Ofereço tratamentos respaldados por pesquisas científicas, garantindo abordagens eficazes e comprovadas para seu progresso e bem-estar.',
		img: 'https://via.placeholder.com/400x265',
		imgAlt: 'Image 1',
	},

	{
		cta: 'Racionalização',
		title: 'Racionalização e lógica',
		subtitle: 'Subtitle 2',
		description:
			'Abordo seus problemas de forma analítica e lógica, ajudando a identificar padrões de pensamento, emoção e comportamento que atrapalham sua vida. Faremos as perguntas certas.',
		img: 'https://via.placeholder.com/400x265',
	},

	{
		cta: 'Preocupação',
		title: 'Preocupação Genuína com seus problemas',
		subtitle: 'Subtitle 3',
		description:
			'Estou verdadeiramente comprometido em compreender e resolver seus desafios, oferecendo um espaço seguro para expressar suas preocupações.',
		img: 'https://via.placeholder.com/400x265',
	},

	{
		cta: 'Empatia',
		title: 'Empatia e Humanização',
		subtitle: 'Subtitle 4',
		description:
			'Valorizo sua experiência singular e incorporo a empatia em cada interação, honrando sua humanidade e acolhendo suas emoções com respeito e compreensão.',
		img: 'https://via.placeholder.com/400x265',
	},

	{
		cta: 'Compromisso',
		title: 'Compromisso com a sua evolução',
		subtitle: 'Subtitle 5',
		description:
			'Sou apaixonado pela evolução humana, estou dedicado a guiá-lo em seu processo de crescimento pessoal e emocional, apoiando-o em sua jornada de autoconhecimento e transformação.',
		img: 'https://via.placeholder.com/400x265',
	},
];
---

<section class="sectionValues" data-aos="opacity">
	<div class="sectionTitle sectionValues-title">
		<h2>{title.text}<span class="gradient">{title.highlight}</span></h2>
		<p>{subtitle}</p>
	</div>

	<CarouselValues values={values} client:load />

	<style lang="scss">
		@import 'src/styles/_mixins.scss';

		.sectionValues {
			padding-left: 32px;
			padding-right: 32px;
			background: #212529;

			@include tablet {
				padding-left: 70px;
				padding-right: 70px;
				background: initial;
			}

			@include desktop {
				padding-left: 32px;
				padding-right: 32px;
			}

			&-title {
				p {
					color: white;

					@include tablet {
						color: var(--color-copy);
					}
				}

				h2 {
					color: white;

					@include tablet {
						color: var(--color-title);
					}
				}
			}
		}
	</style>
</section>
