---
import ValuesCarousel from '../../molecules/ValuesCarousel.vue';

const title = {
	text: 'Meus ',
	highlight: 'valores',
};
const subtitle = 'E como eles te afetam.';

const values = [
	{
		cta: 'Terapia eh X',
		title: 'Title 1',
		subtitle: 'Subtitle 1',
		description:
			'Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam pharetra sed mauris eu dignissim. Nunc commodo efficitur hendrerit. Praesent aliquam non massa nec aliquet. Lorem ipsum dolor sit amet, consectetur adipiscing elit. In hac habitasse platea dictumst. Aenean ligula quam, aliquam ut diam a, efficitur molestie urna.',
		img: 'https://via.placeholder.com/400x265',
		imgAlt: 'Image 1',
	},

	{
		cta: 'Terapia eh Y',
		title: 'Title 2',
		subtitle: 'Subtitle 2',
		description:
			'Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.',
		img: 'https://via.placeholder.com/400x265',
	},
];
---

<section class="sectionValues">
	<div class="sectionTitle sectionValues-title">
		<h2>{title.text}<span class="gradient">{title.highlight}</span></h2>
		<p>{subtitle}</p>
	</div>

	<ValuesCarousel values={values} client:load />
</section>

<style lang="scss">
	@import 'src/styles/_mixins.scss';

	.sectionValues {
		padding-left: 32px;
		padding-right: 32px;

		@include tablet {
			padding-left: 70px;
			padding-right: 70px;
		}

		@include desktop {
			padding-left: 32px;
			padding-right: 32px;
		}
	}
</style>
