---
import FaqCarousel from '../../molecules/FaqCarousel.vue';

const title = {
	highlight: 'Perguntas Frequentes',
	text: 'Explore algumas das ',
};
const subtitle = 'Estou aqui para te dar respostas.';
const faq = [
	{
		title: 'Sobre mim',
		items: [
			{
				summary: 'sobre',
				text: 'item 1',
			},
			{
				summary: 'sobre',
				text: 'item 2',
			},
		],
	},
	{
		title: 'Processo de terapia',
		items: [
			{
				summary: 'processo',
				text: 'item 1',
			},
			{
				summary: 'processo',
				text: 'item 2',
			},
		],
	},
];
---

<section class="sectionFaq">
	<div class="sectionTitle sectionFaq-title">
		<h2>{title.text} <span class="gradient">{title.highlight}</span></h2>
		<p>{subtitle}</p>
	</div>

	<FaqCarousel faq={faq} client:load />
</section>

<style lang="scss">
	@import 'src/styles/_mixins.scss';

	.sectionFaq {
		padding-left: 32px;
		padding-right: 32px;

		@include tablet {
			padding-left: 70px;
			padding-right: 70px;
		}

		@include desktop {
			padding-left: 32px;
			padding-right: 32px;
		}

		.sectionFaq-title {
			@include desktop {
				max-width: 550px;
				text-align: center;
				margin: auto;
				margin-bottom: 180px;
			}
		}
	}
</style>
