---
import Card from '../../molecules/CardHelp.astro';
const cards = [
	{
		title: 'Ansiedade',
		description:
			'Sinta-se sobrecarregado pela ansiedade? Aprenda a desacelerar seus pensamentos, encontrar clareza e viver com calma interior. Descubra como superar a sensação de sufocamento, lidar com o pânico, diminuir preocupações excessivas e recuperar o controle sobre sua vida. Não deixe que a ansiedade te impeça de viver plenamente',
	},
	{
		title: 'Relacionamentos',
		description:
			'Em busca de relacionamentos mais saudáveis e felizes? Supere a solidão, a insegurança e os conflitos constantes. Aprenda a comunicar-se de forma eficaz, construir confiança e estabelecer limites saudáveis. Liberte-se do medo do abandono, da dependência emocional e da traição. Descubra como nutrir a intimidade e a conexão genuína.',
	},
	{
		title: 'Indecisão',
		description:
			'Sentindo-se perdido nas escolhas da vida? Encontre clareza e propósito em meio à confusão. Supere a paralisia mental, a falta de foco e o receio de arrependimento. Aprenda a tomar decisões com confiança, alinhadas com seus valores e objetivos. Não permita que a indecisão atrapalhe seu caminho para o sucesso e a realização pessoal.',
	},
	{
		title: 'Impusividade',
		description:
			'Cansado dos arrependimentos impulsivos? Recupere o controle sobre suas ações e emoções. Aprenda a agir com consciência, evitar autossabotagem e cultivar relacionamentos saudáveis. Supere a culpa após agir impulsivamente e construa uma vida baseada em escolhas conscientes e positivas.',
	},
	{
		title: 'Inteligência Emocional/Autoestima',
		description:
			'Pronto para fortalecer sua autoestima e equilibrar suas emoções? Descubra como superar sentimentos de inutilidade, impaciência e autocrítica excessiva. Aprenda a reconhecer, expressar e gerenciar suas emoções de forma saudável. Construa relacionamentos mais significativos e estabeleça limites que promovam seu bem-estar emocional.',
	},
	{
		title: 'Depressão',
		description:
			'Lutando contra a escuridão da depressão? Encontre luz e esperança novamente. Supere o cansaço, a falta de motivação e os pensamentos negativos persistentes. Aprenda a reconectar-se com a alegria, o prazer e a vitalidade da vida. Busque apoio e orientação para superar a depressão e redescobrir o significado e a felicidade em seu dia a dia.',
	},
];
---

<section id="ajuda" class="sectionHelp">
	<div class="sectionTitle sectionHelp-title">
		<h2>Como posso te <span class="gradient">ajudar?</span></h2>
		<p>Você é prioridade.</p>
	</div>
	<ul class="sectionHelp-cards">
		{
			cards.map((card) => (
				<li>
					<Card title={card.title} description={card.description} />
				</li>
			))
		}
	</ul>
</section>

<style lang="scss">
	@import '../../../styles/_mixins.scss';

	.sectionHelp {
		@include tablet {
			padding-left: 70px;
			padding-right: 70px;
		}

		@include desktop {
			padding-left: 32px;
			padding-right: 32px;
		}

		&-title {
			text-align: left;
			padding-left: 32px;
			padding-right: 32px;

			@include tablet {
				text-align: center;
				padding: 0;
			}
		}

		&-cards {
			display: flex;
			scroll-snap-type: x mandatory;
			overflow-x: scroll;
			scroll-behavior: smooth;
			gap: 6px;
			scrollbar-width: none;
			-ms-overflow-style: none;
			padding-left: 32px;
			padding-right: 32px;

			&::-webkit-scrollbar {
				background: transparent;
				width: 0px;
			}

			@include tablet {
				overflow-x: visible;
				display: grid;
				gap: 36px;
				margin-top: 20px;
				grid-template-columns: 1fr;
				grid-template-columns: repeat(2, 1fr);
				padding-left: 0;
				padding-right: 0;
			}

			@include desktop {
				grid-template-columns: repeat(3, 1fr);
			}
		}
	}
</style>
