---
import Card from '../../molecules/CardReview.astro';
---

<script>
	const sectionReviews = document.querySelectorAll('.sectionReviews-container__reviews');
	sectionReviews.forEach((element) => {
		element.addEventListener('mouseover', () => {
			element.style.animationPlayState = 'paused';
		});
		element.addEventListener('mouseleave', () => {
			element.style.animationPlayState = 'running';
		});

		element.addEventListener('touchstart', () => {
			element.style.animationPlayState = 'paused';
		});
		element.addEventListener('touchend', () => {
			element.style.animationPlayState = 'running';
		});
	});
</script>

<section class="sectionReviews">
	<div class="sectionTitle sectionReviews-title">
		<h2>Conheça os nossos <span class="gradient">Pacientes</span></h2>
		<p>E entenda como foram ajudados.</p>
	</div>

	<div class="sectionReviews-container">
		<ul class="sectionReviews-container__reviews">
			<li>
				<Card />
			</li>
			<li>
				<Card />
			</li>
			<li>
				<Card />
			</li>
			<li>
				<Card />
			</li>
			<li>
				<Card />
			</li>
			<li>
				<Card />
			</li>
		</ul>
		<div class="sectionReviews-container__fade"></div>
	</div>

	<div class="sectionReviews-container show-desktop">
		<ul class="sectionReviews-container__reviews sectionReviews-container__reviews--reverse">
			<li>
				<Card />
			</li>
			<li>
				<Card />
			</li>
			<li>
				<Card />
			</li>
			<li>
				<Card />
			</li>
			<li>
				<Card />
			</li>
			<li>
				<Card />
			</li>
		</ul>
		<div class="sectionReviews-container__fade"></div>
	</div>
</section>

<style lang="scss">
	@import 'src/styles/_mixins.scss';

	.sectionReviews {
		display: grid;
		grid-template-columns: minmax(0, 1fr);
		gap: 8px;
		padding: 80px 0 80px 0;
		background: #212529;

		@include tablet {
			padding: 70px 0 70px 0;
			background: initial;
		}

		@include desktop {
			padding: 120px 32px 120px 32px;
			grid-template-columns: 1fr 1fr 1fr;
			gap: 25px;
			height: 830px;
			align-items: center;
		}

		&-title {
			padding-left: 32px;
			padding-right: 32px;

			@include tablet {
				padding-left: 70px;
				padding-right: 70px;
			}

			@include desktop {
				padding-left: 0;
				padding-right: 0;
				width: 400px;
				margin-bottom: 0px;
			}

			p {
				color: white;

				@include tablet {
					color: var(--color-copy);
				}
			}

			h2 {
				color: white;

				@include tablet {
					color: var(--color-title);
				}
			}
		}

		&-container {
			position: relative;
			overflow: hidden;

			@include desktop {
				height: 830px;
			}

			&.show-desktop {
				display: none;

				@include desktop {
					display: block;
				}
			}

			&__reviews {
				display: flex;
				flex-direction: row;
				gap: 8px;
				margin: 0;
				animation: 40s slideHorizontal infinite linear;
				width: fit-content;

				@include desktop {
					flex-direction: column;
					gap: 40px;
					animation: 40s slideVertical infinite linear;
				}

				&--reverse {
					animation: 40s slideHorizontalReverse infinite linear;
					@include desktop {
						animation: 40s slideVerticalReverse infinite linear;
					}
				}
			}

			&__fade {
				pointer-events: none;
				position: absolute;
				inset: 0;
				background: linear-gradient(90deg, white, transparent 10%, transparent 90%, white);

				@include desktop {
					background: linear-gradient(180deg, white, transparent 20%, transparent 80%, white);
				}
			}
		}

		@keyframes slideHorizontal {
			from {
				transform: translateX(0);
			}
			to {
				transform: translateX(calc(-50% - 4px));
			}
		}

		@keyframes slideHorizontalReverse {
			from {
				transform: translateX(calc(-50% - 4px));
			}
			to {
				transform: translateX(0);
			}
		}

		@keyframes slideVertical {
			from {
				transform: translateY(0);
			}
			to {
				transform: translateY(calc(-50% - 4px));
			}
		}

		@keyframes slideVerticalReverse {
			from {
				transform: translateY(calc(-50% - 4px));
			}
			to {
				transform: translateY(0);
			}
		}
	}
</style>
