---
import CarouselValues from '../../molecules/CarouselValues.vue';

const title = {
	text: 'Um ',
	highlight: 'Processo diferente',
};
const subtitle = 'Pra melhor te atender';

const values = [
	{
		cta: 'Avaliação',
		title: 'Avaliação Sob Medida',
		subtitle: 'Subtitle 1',
		description:
			'Vamos mergulhar fundo para identificar e compreender seus desafios atuais, estabelecendo metas terapêuticas que irão transformar a sua vida.<br><br>Vou vasculhar cada aspecto de seus pensamentos, sentimentos e comportamentos, mergulhando também em sua história pessoal e questões relevantes que te impedem de ser uma pessoa feliz.  .<br><br>Essa investigação meticulosa será a chave para desvendar um plano de tratamento feito sob medida para você, garantindo resultados duradouros.',
		img: 'https://via.placeholder.com/400x265',
		imgAlt: 'Image 1',
	},

	{
		cta: 'Estratégia',
		title: 'Estratégia Personalizada',
		subtitle: 'Subtitle 2',
		description:
			'Desenharei um plano cuidadosamente elaborado, adaptado especificamente às suas necessidades e circunstâncias únicas, garantindo que cada passo seja estrategicamente projetado para impulsionar seu progresso.<br><br>Combinando conhecimento e expertise, vamos construir uma estratégia que não só aborda suas questões atuais, mas também cria um caminho claro em direção à sua transformação pessoal.',
		img: 'https://via.placeholder.com/400x265',
	},

	{
		cta: 'Ação',
		title: 'Ação no seu ritmo',
		subtitle: 'Subtitle 3',
		description:
			'Iremos executar a estratégia elaborada um passo de cada vez, no seu ritmo. Para que isso te leve mais perto de alcançar seus objetivos terapêuticos e transformar sua vida.<br><br>Vou te capacitar a tomar medidas concretas em direção ao seu bem-estar emocional e pessoal.<br><br>Com uma abordagem centrada na ação, vamos trabalhar lado a lado para superar obstáculos, implementar mudanças significativas e alcançar resultados tangíveis que o levem a uma vida mais plena e satisfatória.',
		img: 'https://via.placeholder.com/400x265',
	},

	{
		cta: 'Acompanhamento',
		title: 'Acompanhamento de Resultados',
		subtitle: 'Subtitle 4',
		description:
			'Aqui é a última fase da sua jornada rumo à mudança, Vamos monitorar de perto seu progresso, ajustando estratégias conforme necessário e celebrando cada marco alcançado ao longo do caminho.<br><br>Com um compromisso inabalável com seu sucesso, estarei ao seu lado, oferecendo suporte e orientação contínuos para garantir que você atinja seus objetivos terapêuticos e experimente uma transformação duradoura em sua vida.',
		img: 'https://via.placeholder.com/400x265',
	},
];
---

<section id="processo" class="sectionValues" data-aos="opacity">
	<div class="sectionTitle sectionValues-title">
		<h2>{title.text}<span class="gradient">{title.highlight}</span></h2>
		<p>{subtitle}</p>
	</div>

	<CarouselValues values={values} client:load />

	<style lang="scss">
		@import 'src/styles/_mixins.scss';

		.sectionValues {
			padding-left: 32px;
			padding-right: 32px;
			background: #212529;

			@include tablet {
				padding-left: 70px;
				padding-right: 70px;
				background: initial;
			}

			@include desktop {
				padding-left: 32px;
				padding-right: 32px;
			}

			&-title {
				p {
					color: white;

					@include tablet {
						color: var(--color-copy);
					}
				}

				h2 {
					color: white;

					@include tablet {
						color: var(--color-title);
					}
				}
			}
		}
	</style>
</section>
