---
import chevron from '/icons/chevron-down.svg?raw';
import { Image } from 'astro:assets';
import aboutmeImage from '../../../assets/images/aboutme.png';

const details = [
	{
		title: 'Sobre mim',
		text: `Olá, sou o Marlon Andrade, casado e natural de Goiânia. Desde que me formei em Psicologia pela Puc-Goiás, meu fascínio pelo comportamento humano tem sido uma constante inspiração em minha jornada profissional.<br><br>
		Com mais de 4 mil sessões de psicoterapia realizadas, estou aqui para oferecer meu conhecimento e experiência em ajudá-lo a compreender e superar os desafios da vida. Minha abordagem visa identificar e modificar padrões de pensamento e comportamento que podem estar afetando seu bem-estar.<br><br> 
		Ao longo dos anos, tenho estudado cada vez mais sobre o ser humano. Minha paixão por contribuir para o desenvolvimento humano me motiva a buscar constantemente novas maneiras de ajudar meus pacientes a alcançar seu máximo potencial. Se você está enfrentando dificuldades emocionais, comportamentais ou simplesmente deseja melhorar sua qualidade de vida, estou aqui para oferecer apoio e orientação personalizados.CRP 09/17059`,
	},
	{
		title: 'Formação acadêmica',
		text: `<b>Graduado em Psicologia pela Pontifícia Universidade Católica de Goiás (PUC GOIÁS)</b>, iniciei minha caminhada na área da saúde mental com uma base sólida e abrangente.<br><br>
		<b>Especialista em Terapia Cognitivo-Comportamental</b> pelo <b>Instituto de Pós-Graduação e Graduação (IPOG)</b>, me aprofundei em uma das abordagens psicoterapêuticas mais eficazes da atualidade, aprimorando minhas habilidades para auxiliar meus pacientes.<br><br>
		<b>Especialista em Neurociência, Comportamento e Desempenho</b>, também pelo <b>Instituto de Pós-Graduação e Graduação (IPOG)</b>, expandi meus horizontes sobre o funcionamento do cérebro e do comportamento humano, me tornando um profissional ainda mais completo.<br><br>
		<b>Com formações em Terapia do Esquema, Psicopatologia e Análise do Comportamento</b>, demonstro meu compromisso com o aprendizado contínuo e a busca por ferramentas multifacetadas para atender às diversas demandas dos meus clientes.`,
	},
	{
		title: 'Meus valores e compromissos',
		text: `<b>Tratamento baseado na ciência:</b> Ofereço tratamentos respaldados por pesquisas científicas, garantindo abordagens eficazes e comprovadas para seu progresso e bem-estar.<br><br>
		<b>Racionalização e lógica:</b> Abordo seus problemas de forma analítica e lógica, ajudando a identificar padrões de pensamento, emoção e comportamento que atrapalham sua vida.<br><br>
		<b>Preocupação Genuína com seus problemas:</b> Estou verdadeiramente comprometido em compreender e resolver seus desafios, oferecendo um espaço seguro para expressar suas preocupações.<br><br>
		<b>Empatia e Humanização:</b> Valorizo sua experiência única e prático a empatia em todas as interações, reconhecendo sua humanidade e respeitando suas emoções.<br><br>
		<b>Compromisso com a sua evolução:</b> Estou dedicado a guiá-lo em seu processo de crescimento pessoal e emocional, apoiando-o em sua jornada de autoconhecimento e transformação.`,
	},
];
---

<script>
	document.querySelectorAll('.sectionAbout-content-details details').forEach((details) => {
		details.addEventListener('toggle', (event) => {
			if ((event.target as HTMLDetailsElement).open) {
				document
					.querySelectorAll('.sectionAbout-content-details details')
					.forEach((otherDetails) => {
						if (otherDetails !== details) {
							otherDetails.removeAttribute('open');
						}
					});
			}
		});
	});

	//only on desktop
	if (window.innerWidth >= 768) {
		document
			.querySelector<HTMLElement>('.sectionAbout-content-details details')!
			.setAttribute('open', '');
	}
</script>

<section id="sobre-mim" class="sectionAbout" data-aos="opacity">
	<div class="sectionTitle">
		<h2>Quem é <span class="gradient">Marlon Andrade?</span></h2>
		<p>Apaixonado pelo desenvolvimento humano.</p>
	</div>

	<div class="sectionAbout-content">
		<Image class="sectionAbout-content__image" src={aboutmeImage} alt="Psicologo Marlon" />
		<ul class="sectionAbout-content-details">
			{
				details.map((detail) => (
					<li>
						<details>
							<summary>
								<span>{detail.title}</span>
								<span class="chevron">
									<Fragment set:html={chevron} />
								</span>
							</summary>
							<p set:html={detail.text} />
						</details>
					</li>
				))
			}
		</ul>
	</div>
</section>

<style lang="scss">
	@import 'src/styles/_mixins.scss';

	.sectionAbout {
		padding-left: 32px;
		padding-right: 32px;

		@include tablet {
			padding-left: 70px;
			padding-right: 70px;
		}

		@include desktop {
			padding-left: 32px;
			padding-right: 32px;
		}

		&-content {
			display: flex;
			flex-direction: column;
			gap: 10px;

			@include desktop {
				flex-direction: row;
				gap: 20px;
			}

			&__image {
				width: 100%;
				height: 100%;
				border-top-left-radius: 20px;
				border-top-right-radius: 20px;

				@include tablet {
					height: 430px;
					object-fit: cover;
				}

				@include desktop {
					width: 430px;
					height: 630px;
					border-top-left-radius: 20px;
					border-bottom-left-radius: 20px;
					border-bottom-right-radius: 0;
					border-top-right-radius: 0;
				}
			}

			&-details {
				width: 100%;
				margin: 0;
				display: flex;
				flex-direction: column;
				gap: 4px;

				@include desktop {
					gap: 8px;
				}

				li {
					&:first-child {
						details {
							border-top-right-radius: 0;

							@include desktop {
								border-top-right-radius: 20px;
								border-top: var(--color-accent) 1px solid;
							}
						}
					}

					&:last-child {
						details {
							border-bottom-right-radius: 20px;
							border-bottom-left-radius: 20px;

							@include desktop {
								border-bottom-right-radius: 20px;
								border-bottom-left-radius: 0;
							}
						}
					}

					details {
						cursor: pointer;
						font-weight: 700;
						color: var(--color-copy);
						list-style: none;
						background: var(--color-card-bg);
						font-size: 1.25rem;

						summary {
							list-style: none;
							padding: 29px 36px;
							display: flex;
							justify-content: space-between;
							transition: all 0.2s linear;

							&:hover {
								color: var(--color-accent);
								transition: all 0.2s linear;
							}

							&::-webkit-details-marker {
								display: none;
							}
						}

						&[open] {
							summary {
								color: var(--color-accent);

								.chevron {
									color: var(--color-accent);
									transform: rotate(180deg);
								}
							}
						}

						p {
							color: var(--color-copy);
							font-weight: 400;
							line-height: 20px;
							text-align: left;
							padding: 0 36px 29px;
							font-size: 1rem;

							@include desktop {
								font-size: 1.25rem;
							}
						}
					}
				}
			}
		}
	}
</style>
