---
import Card from '../../molecules/CardInstagram.astro';
---

<section class="sectionInstagram">
	<div class="sectionTitle sectionInstagram-title">
		<h2>Acompanhe o meu trabalho no <span class="gradient">Instagram</span></h2>
		<p>Conheça mais sobre quem sou eu.</p>
	</div>
	<ul class="sectionInstagram-cards">
		<li>
			<Card />
		</li>

		<li>
			<Card />
		</li>

		<li>
			<Card />
		</li>

		<li>
			<Card />
		</li>

		<li>
			<Card />
		</li>

		<li>
			<Card />
		</li>

		<li>
			<Card />
		</li>
	</ul>
</section>

<style lang="scss">
	@import 'src/styles/_mixins.scss';
	.sectionInstagram {
		padding-left: 32px;
		padding-right: 32px;
		max-width: 1480px;
		margin-right: auto;
		margin-left: auto;

		&-title {
			text-align: left;

			@include tablet {
				padding-left: 38px;
			}

			@include desktop {
				padding-left: 0;
			}

			h2 {
				@include desktop {
					width: 500px;
				}
			}
		}

		&-cards {
			display: flex;
			overflow: scroll;
			gap: 12px;
			scroll-snap-type: x mandatory;
			scroll-behavior: smooth;
			scrollbar-width: none;
			-ms-overflow-style: none;

			@include desktop {
				gap: 32px;
			}

			&::-webkit-scrollbar {
				background: transparent;
				width: 0px;
			}
		}
	}
</style>
