---
import instagram from '/icons/instagram-gradient.svg?raw';
import CarouselInstagram from '../../molecules/CarouselInstagram.vue';

const items = [
	{
		img: 'https://placehold.co/600x600/orange/white',
		alt: 'Image 1',
		link: 'https://www.instagram.com/',
	},

	{
		img: 'https://placehold.co/600x600/blue/white',
		alt: 'Image 2',
		link: 'https://www.instagram.com/',
	},

	{
		img: 'https://placehold.co/600x600/red/white',
		alt: 'Image 3',
		link: 'https://www.instagram.com/',
	},

	{
		img: 'https://placehold.co/600x600/green/white',
		alt: 'Image 4',
		link: 'https://www.instagram.com/',
	},

	{
		img: 'https://placehold.co/600x600/black/white',
		alt: 'Image 5',
		link: 'https://www.instagram.com/',
	},
];
---

<section class="sectionInstagram">
	<div class="sectionTitle sectionInstagram-title">
		<Fragment set:html={instagram} />
		<h2>Acompanhe o meu trabalho no <span class="gradient">Instagram</span></h2>
		<p>Conheça mais sobre quem sou eu.</p>
	</div>
	<CarouselInstagram client:only="vue" />
</section>

<style lang="scss">
	@import 'src/styles/_mixins.scss';
	.sectionInstagram {
		&-title {
			padding-left: 32px;
			padding-right: 32px;
			max-width: 1480px;
			margin-right: auto;
			margin-left: auto;
			text-align: left;

			@include tablet {
				padding-left: 70px;
				padding-right: 70px;
			}

			@include desktop {
				padding-left: 32px;
				padding-right: 32px;
			}

			h2 {
				margin-top: 24px;

				@include desktop {
					width: 500px;
				}
			}
		}
	}
</style>
