---
import Layout from '../layouts/Layout.astro';
import Hero from '../components/organisms/Hero.astro';
import SectionHelp from '../components/organisms/sections/SectionHelp.astro';
import SectionValues from '../components/organisms/sections/SectionValues.astro';
import SectionProcess from '../components/organisms/sections/SectionProcess.astro';
import SectionReviews from '../components/organisms/sections/SectionReviews.astro';
import SectionInstagram from '../components/organisms/sections/SectionInstagram.astro';
import SectionFaq from '../components/organisms/sections/SectionFaq.astro';
import Footer from '../components/organisms/Footer.astro';
---

<script>
	const changeTheme = () => {
		const currentTheme = localStorage.getItem('theme');

		if (currentTheme === 'dark') {
			localStorage.setItem('theme', 'light');
			document.documentElement.setAttribute('data-theme', 'light');
			return;
		}

		localStorage.setItem('theme', 'dark');
		document.documentElement.setAttribute('data-theme', 'dark');
	};

	const themeBtns = document.querySelectorAll('.changeThemeBtn')!;
	themeBtns.forEach((btn) => {
		btn.addEventListener('click', changeTheme);
	});
</script>

<Layout title="Psicologo Marlon">
	<main>
		<Hero />
		<SectionHelp />
		<SectionValues />
		<SectionProcess />
		<SectionReviews />
		<SectionInstagram />
		<SectionFaq />
		<Footer />
	</main>
</Layout>
