---
import Layout from '../layouts/Layout.astro';
import Hero from '../components/organisms/Hero.astro';
import SectionHelp from '../components/organisms/sections/SectionHelp.astro';
import SectionValues from '../components/organisms/sections/SectionValues.astro';
import SectionProcess from '../components/organisms/sections/SectionProcess.astro';
import SectionReviews from '../components/organisms/sections/SectionReviews.astro';
import SectionInstagram from '../components/organisms/sections/SectionInstagram.astro';
import SectionFaq from '../components/organisms/sections/SectionFaq.astro';
import Footer from '../components/organisms/Footer.astro';
---

<Layout title="Psicologo Marlon">
	<main>
		<Hero />
		<SectionHelp />
		<SectionValues />
		<SectionProcess />
		<SectionReviews />
		<SectionInstagram />
		<SectionFaq />
		<Footer />
	</main>
</Layout>

<style></style>
