---
import Layout from '../layouts/Layout.astro';
import Hero from '../components/organisms/Hero.astro';
import SectionHelp from '../components/organisms/sections/SectionHelp.astro';
import SectionValues from '../components/organisms/sections/SectionValues.astro';
import SectionAbout from '../components/organisms/sections/SectionAbout.astro';
import SectionProcess from '../components/organisms/sections/SectionProcess.astro';
import SectionReviews from '../components/organisms/sections/SectionReviews.astro';
import SectionClinic from '../components/organisms/sections/SectionClinic.astro';
import SectionInstagram from '../components/organisms/sections/SectionInstagram.astro';
import SectionFaq from '../components/organisms/sections/SectionFaq.astro';
import Footer from '../components/organisms/Footer.astro';
import ButtonWhatsapp from '../components/atoms/ButtonWhatsapp.astro';
import IntroAnimation from '../components/organisms/IntroAnimation.astro';
---

<script>
	import Lenis from 'lenis';
	import AOS from 'aos';
	import 'aos/dist/aos.css';

	const initLenis = () => {
		const lenis = new Lenis();

		function raf(time: number) {
			lenis.raf(time);
			requestAnimationFrame(raf);
		}

		requestAnimationFrame(raf);
	};

	const initAos = () => {
		AOS.init({
			duration: 1500,
			once: true,
		});
	};

	initLenis();
	initAos();
</script>

<Layout title="Psicologo Marlon">
	<main>
		<ButtonWhatsapp />
		<!-- <IntroAnimation /> -->
		<Hero />
		<SectionHelp />
		<SectionAbout />
		<SectionValues />
		<!-- <SectionProcess /> -->
		<SectionClinic />
		<SectionReviews />
		<SectionInstagram />
		<SectionFaq />
		<Footer />
	</main>
</Layout>
