---
import Layout from '../layouts/Layout.astro';
import Hero from '../components/organisms/Hero.astro';
import SectionHelp from '../components/organisms/sections/SectionHelp.astro';
import SectionValues from '../components/organisms/sections/SectionValues.astro';
import SectionProcess from '../components/organisms/sections/SectionProcess.astro';
---

<Layout title="Psicologo Marlon">
	<main>
		<Hero />
		<SectionHelp />
		<SectionValues />
		<SectionProcess />
	</main>
</Layout>

<style></style>
