---
import whatsapp from '/icons/whatsapp.svg?raw';
---

<script>
	window.addEventListener('scroll', () => {
		const btn = document.querySelector<HTMLElement>('.buttonWhatsapp')!;
		const helpSection = document.querySelector<HTMLElement>('.sectionHelp')!;

		if (window.scrollY > helpSection.offsetTop - btn.offsetHeight - 20) {
			btn.style.opacity = '1';
		} else {
			btn.style.opacity = '0';
		}
	});
</script>

<a
	class="buttonWhatsapp"
	aria-label="Entrar em contato pelo WhatsApp"
	href="https://api.whatsapp.com/send?phone=5562981261406&text=Ol%C3%A1%2C%20eu%20gostaria%20de%20agendar%20uma%20sess%C3%A3o"
	target="_blank"
>
	<fragment set:html={whatsapp} />
</a>

<style lang="scss">
	@import 'src/styles/_mixins.scss';

	.buttonWhatsapp {
		position: fixed;
		bottom: 20px;
		right: 20px;
		z-index: 97;
		background-color: var(--color-btn-whatsapp-bg);
		color: var(--color-accent);
		border-radius: 50%;
		width: 60px;
		height: 60px;
		display: flex;
		justify-content: center;
		align-items: center;
		box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
		transition: all 0.5s;
		opacity: 0;

		@include tablet {
			display: none;
		}
	}
</style>
