---
interface Props {
	text: string;
	link: string;
	isSmall?: boolean;
	fullWidth?: boolean;
}
const { text, link, isSmall, fullWidth } = Astro.props;
---

<a href={link} class={`btn ${isSmall && 'btn--small'} ${fullWidth && 'btn--full'}`}>
	{text}
</a>

<style lang="scss">
	.btn {
		display: inline-block;
		padding: 1rem;
		background-color: var(--color-accent);
		border-radius: 20px;
		color: var(--color-white);
		text-decoration: none;
		font-weight: bold;
		text-align: center;

		@media (min-width: 1200px) {
			font-size: 1.5rem;
			padding: 24px 32px;
			width: fit-content;
		}

		&--small {
			font-size: 1rem;
		}

		&--full {
			width: 100%;
		}
	}
</style>
