---
interface Props {
	text: string;
	isSmall?: boolean;
	fullWidth?: boolean;
}
const { text, isSmall, fullWidth } = Astro.props;
const test = 0;
---

<a
	aria-label="Entrar em contato pelo WhatsApp"
	href="https://api.whatsapp.com/send?phone=5562981261406&text=Ol%C3%A1%2C%20eu%20gostaria%20de%20agendar%20uma%20sess%C3%A3o"
	target="_blank"
	class={`btn ${isSmall && 'btn--small'} ${fullWidth && 'btn--full'}`}
>
	{text}
</a>

<style lang="scss">
	@import 'src/styles/_mixins.scss';

	.btn {
		display: block;
		padding: 1rem;
		background-color: var(--color-accent);
		border-radius: 20px;
		color: var(--color-white);
		text-decoration: none;
		font-weight: bold;
		text-align: center;
		box-sizing: border-box;

		@include desktop {
			font-size: 1.5rem;
			padding: 24px 32px;
			width: fit-content;
			transition: all linear 0.5s;
		}

		&:hover {
			transition: all linear 0.5s;
			background: linear-gradient(-45deg, #fc4f19, #fc772b, #fd9f3e, #fec851);
			background-size: 400% 400%;
			animation: gradient 3s ease infinite;
			transform: scale(1.05);
		}

		&--small {
			font-size: 1rem;
		}

		&--full {
			width: 100%;

			@include tablet {
				width: fit-content;
			}
		}
	}
	@keyframes gradient {
		0% {
			background-position: 0% 50%;
		}
		50% {
			background-position: 100% 50%;
		}
		100% {
			background-position: 0% 50%;
		}
	}
</style>
