---
interface Props {
	text: string;
	link: string;
	isSmall?: boolean;
}
const { text, link, isSmall } = Astro.props;
---

<a href={link} class={`btn ${isSmall && 'btn--small'}`}>
	{text}
</a>

<style lang="scss">
	.btn {
		display: inline-block;
		padding: 1rem;
		background-color: var(--color-accent);
		border-radius: 1.5rem;
		color: var(--color-white);
		text-decoration: none;
		font-weight: bold;

		@media (min-width: 1200px) {
			font-size: 1.5rem;
			padding: 24px 32px;
		}

		&--small {
			font-size: 1rem;
		}
	}
</style>
