---
interface Props {
	title: string;
	description: string;
}

const { title, description } = Astro.props;
---

<div class="cardProcess">
	<h3>{title}</h3>
	<p>{description}</p>
</div>

<style lang="scss">
	@import 'src/styles/_mixins.scss';

	.cardProcess {
		background-color: var(--color-card-bg);
		border-radius: 20px;
		padding: 24px;

		@include desktop {
			padding: 32px 48px;
		}

		h3 {
			color: var(--color-accent);
			font-size: 1.25rem;
			margin-bottom: 32px;
		}

		p {
			color: var(--color-copy);
			font-size: 1rem;

			@include tablet {
				font-size: 1.25rem;
			}
		}
	}
</style>
