---
interface Props {
	title: string;
	description: string;
	icon?: string;
}

const { title, description, icon } = Astro.props;
---

<div class="helpCard">
	<img src="https://via.placeholder.com/72x72" />
	<h2>{title}</h2>
	<p>{description}</p>
</div>

<style lang="scss">
	@import '../../styles/_mixins.scss';

	.helpCard {
		background: var(--color-card-bg);
		padding: 24px;
		border-radius: 20px;
		cursor: pointer;
		width: 282px;
		height: 291px;
		gap: 8px;
		flex-shrink: 0;
		scroll-snap-align: center;

		@include tablet {
			width: fit-content;
			height: fit-content;
		}

		&:hover {
			transform: scale(1.1);
			background: var(--color-card-bg-hover);
			box-shadow: 0px 0px 60px 20px var(--color-accent);
			transition: all 0.5s ease;
		}

		img {
			margin-bottom: 24px;
		}

		h2 {
			font-size: 1.5rem;
			font-weight: 700;
			margin-bottom: 12px;
			color: var(--color-accent);
		}

		p {
			font-size: 1.25rem;
			color: var(--color-copy);
		}
	}
</style>
