---

---

<div class="cardInstagram" style="background-image:url('https://via.placeholder.com/500x500');">
</div>

<style lang="scss">
	@import 'src/styles/_mixins.scss';

	.cardInstagram {
		width: 250px;
		height: 250px;
		border-radius: 20px;
		background-position: center;
		background-size: cover;
		flex-shrink: 0;
		scroll-snap-align: center;

		@include desktop {
			width: 450px;
			height: 450px;
		}
	}
</style>
