---
const items = [
	{
		name: 'Inicio',
		link: '#',
	},
	{
		name: 'Como posso te ajudar',
		link: '#',
	},
	{
		name: 'O que e terapia',
		link: '#',
	},
	{
		name: 'O processo',
		link: '#',
	},
];
---

<header>
	<h1>Header</h1>
</header>

<style lang="scss">
	header {
		max-width: 1285px;
		margin: 32px auto 0 32px;
	}
</style>
