---
import LottieAnimation from 'astro-integration-lottie/Lottie.astro';
---

<script>
	setTimeout(() => {
		document.querySelector<HTMLElement>('.animation')!.style.opacity = '0';
		setTimeout(() => {
			document.querySelector<HTMLElement>('.animation')!.style.display = 'none';
		}, 1000);
	}, 5000);
</script>

<div class="animation">
	<div class="animation__container">
		<LottieAnimation src="/animations/intro.json" autoplay="visible" player="full" loop={false} />
	</div>
</div>

<style lang="scss">
	@import 'src/styles/_mixins.scss';

	.animation {
		z-index: 9999;
		width: 100dvw;
		height: 100dvh;
		justify-content: center;
		align-items: center;
		display: flex;
		position: fixed;
		top: 0;
		background-color: white;
		opacity: 1;
		transition: opacity 1s ease;

		&__container {
			width: 500px;
			height: 500px;

			@include desktop {
				width: 700px;
				height: 700px;
			}
		}
	}
</style>
