---
import '@fontsource/archivo';
import Header from '../components/organisms/Header.astro';

interface Props {
	title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Astro description" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
	</head>
	<body>
		<Header />
		<slot />
	</body>
</html>

<style lang="scss" is:global>
	:root {
		--color-title: #495057;
		--color-accent: #fc4f19;
		--color-bg: #fff;
		--color-copy: #868e96;
		--color-white: #fff;
	}
	html {
		font-family: 'Archivo', sans-serif;
		font-size: 16px;
	}
	body {
		max-width: 1480px;
		margin: auto;
		padding: 0 32px;
	}
</style>
