@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@300&family=Raleway:wght@200&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  h1,
  h2,
  h3,
  h4,
  h5 {
    @apply font-heading;
  }

  * {
    @apply font-body;
  }
}

@layer components {
  .container-screen {
    @apply w-full max-w-[1920px] relative mx-auto px-8 xl:px-16 2xl:px-44;

    .section-number {
      @apply text-white absolute font-heading text-[300px] xl:text-[500px] 2xl:text-[700px];
    }

    .card {
      @apply z-20;

      &__title {
        @apply max-w-fit mb-12 fluid-2xl;
      }

      &__body {
        @apply max-w-fit mb-12 fluid-base;
      }

      &__cta {
        @apply max-w-fit fluid-lg;
      }
    }

    .card-hero {
      @apply flex flex-col gap-4 md:gap-11 w-full xl:w-[1033px] 2xl:w-[1251px];

      &__title {
        @apply text-white fluid-5xl uppercase;
      }

      &__body {
        @apply text-white fluid-lg;
      }

      &__cta {
        @apply flex items-center gap-2 text-white fluid-lg;
      }
    }
  }
}

.bg-hero-gradient {
  background: linear-gradient(0deg, #2c3238 0%, rgba(52, 58, 64, 0) 21.81%);
}

.bg-gradient-1 {
  background: linear-gradient(
      0deg,
      #4b4b4b 0.48%,
      rgba(52, 58, 64, 0) 27.6%,
      #343a40 97.37%
    ),
    #202020;
}

.section-number-background {
  background: linear-gradient(180deg, #343a40 -2.32%, #f8f9fa 70.1%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}

.card-backdrop {
  background: rgba(33, 37, 41, 0.49);
  backdrop-filter: blur(14.5px);
}
