@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@300;400;500;600&family=Raleway:wght@100;200;500;900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  h1,
  h2,
  h3,
  h4,
  h5 {
    @apply font-heading font-extralight;
  }

  * {
    @apply font-body font-light;
  }

  b {
    @apply font-bold;
  }

  html {
    @apply scroll-smooth w-full;
  }
}

@layer components {
  .menu {
    @apply flex flex-col fixed w-full md:w-1/2 h-screen py-5 px-10 bg-white text-black z-50;

    &-list {
      @apply flex flex-col gap-8;

      &__item {
        @apply flex justify-between w-full pb-1 fluid-lg text-gray
        border-solid border-b-[1px] border-b-gray
        hover:text-black transition-all duration-500
        before:content-[""] before:absolute before:left-0 before:bottom-0 before:w-0
        before:border-b-black before:border-b-2 before:border-solid
        before:transition-all before:duration-500
        hover:before:w-full;
      }
    }
  }

  .container-screen {
    @apply max-w-screen-2xl relative h-full mx-auto px-8 md:px-16 xl:px-16;
    .card {
      @apply z-20 xl:max-w-[480px] 2xl:max-w-[700px];

      &__title {
        @apply max-w-fit  mb-5 md:mb-8 fluid-3xl  xl:fluid-4xl;
      }

      &__body {
        @apply max-w-fit  mb-5 md:mb-8 fluid-base xl:fluid-lg;
      }

      &__cta {
        @apply flex items-center max-w-fit fluid-base;
      }
    }
  }
}

body {
  width: 100%;
  overflow-x: hidden;
}

.h-section {
  height: 100dvh;
}

.gradient-background {
  background: linear-gradient(0deg, #ffffff 22.92%, #1c1c1c 100%);
}

.card-backdrop-dark {
  background: rgba(33, 37, 41, 0.49);
  backdrop-filter: blur(14.5px);
}

.card-backdrop-white {
  background: rgba(255, 255, 255, 0.62);
}

.img-04-mask {
  @media (max-width: 767px) {
    mask-image: linear-gradient(0deg, rgba(0,0,0,0) 0%, rgb(255, 255, 255) 50%);
  }
}


