@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@300&family=Raleway:wght@200&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  h1,
  h2,
  h3,
  h4,
  h5 {
    @apply font-heading;
  }

  * {
    @apply font-body;
  }
}

@layer components {
  .container-screen {
    @apply w-full max-w-[1920px] relative mx-auto;
  }

  .container-content {
    @apply container max-w-screen-2xl mx-auto px-8 md:px-16 lg:px-0;
  }

  .card {
    @apply relative w-full md:w-[440px] lg:w-[620px] z-20;
  }

  .card-number {
    @apply text-white absolute font-heading text-[300px] md:text-[700px];
  }

  .card-title {
    @apply max-w-fit mb-12 font-extralight text-4xl md:text-5xl lg:text-6xl;
  }

  .card-body {
    @apply max-w-fit mb-12  font-light text-sm md:text-base;
  }

  .card-cta {
    @apply max-w-fit font-normal text-base lg:text-2xl;
  }

  .bg-gradient-1 {
    background: linear-gradient(
        0deg,
        #4b4b4b 0.48%,
        rgba(52, 58, 64, 0) 27.6%,
        #343a40 97.37%
      ),
      #202020;
  }

  .section-number {
    background: linear-gradient(180deg, #343a40 -2.32%, #f8f9fa 70.1%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;
  }
}
